#!/bin/sh
set -e

cmd=$1; shift

case "$cmd" in
  shell)
    exec "/bin/bash"
    ;;
  console)
    # If your environment can have a console, put that target here.
    echo "No console configured for <%= options[:project_name] %>"
    exit 0
    ;;
  pass)
    echo "Containter starts."
    exit 0
    ;;
  cmd)
    echo "$@"
    exec /bin/bash -c "$*"
    ;;
  setup)
    echo "This environment has no setup steps"
    exit 0
    ;;
  <%- options[:components].each do |component| -%>
  <%= component %>)
    # Put this components start command here.
    echo "No start command for <%= component %>"
    exit 0
    ;;
  <%- end -%>
  *)
    echo "Please pass a valid command.  You passed '$cmd', which is invald."
    exit 3
esac
