---
version: '2'
<%- development_image = "#{options[:project_name]}_base_development:latest" -%>

services:
  base_external:
    image: <%= options[:base] %>

  base:
    build:
      dockerfile: Dockerfile.base
      context: ./
    command:
      - pass

  base_development:
    build:
      dockerfile: Dockerfile.development
      context: ./
    command:
      - pass

  shell:
    image: <%= development_image %>
    command:
      - shell
    volumes: &std_volumes
      - ".:/src"
    <%- unless options[:resources].empty? -%>
    depends_on: &std_depends
      <%- options[:resources].each do |resource| -%>
      - <%= resource[:name] %>
      <%- end -%>
    <%- end -%>

  <%- options[:components].each do |component| -%>
  <%= component %>:
    image: <%= development_image %>
    command:
      - <%= component %>
      # You may want additional arguments here.
    volumes: *std_volumes
    <%- unless options[:resources].empty? -%>
    depends_on: *std_depends
    <%- end -%>
  <%- end -%>

  <%- unless options[:resources].empty? -%>
  # You'll almost certanily need to heavily modify any external resource images
  # that you use.
  <%- end -%>
  <%- options[:resources].each do |resource| -%>
  <%= resource[:name] %>:
    image: <%= resource[:image] %>
    # volumes:
    #   - Do you need to mount a config dir?
    # ports:
    #   - Do you need to expose any ports to the host?
  <%- end -%>
