FROM       <%= options[:base] %>

# Depending on the docker image you're using, you may need to specify a
# different workdir, or even not set one and use the perscribed one from the
# base image.  If you do change it, don't forget to change where the
# bind-mounting happens in the compose file.
<%- workdir = "/src" %>

RUN        mkdir -p <%= workdir %>

WORKDIR    <%= workdir %>

ADD        . <%= workdir %>

# Do any other initializations steps here.

ENTRYPOINT [ "/bin/sh", "<%= workdir %>/bin/entrypoint.sh" ]
CMD        [ "pass" ]
