FROM        <%= options[:project_name] %>_base:latest

# This is where you'd install stuff like test libraries
# Or, for a ruby project, where you'd install the bundle with everything
# rather than just the production stuff

# Do not put ENTRYPOINT or CMD in here.  Instead, let them be inherited from the
# Dockerfile.base
